<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="es">
    <head>
        <meta charset="UTF-8">
        <title>Página de Bienvenida</title>
        <link rel="stylesheet" th:href="@{styles-user-greeting.css}">
    </head>
    <body>
        <h1 th:text="${message}">Mensaje por defecto que no se verá</h1>
        <div th:if="${userObject3 != null}">
            <h2>Usuario:</h2>
            <p>Nombre: <span th:text="${userObject3.name}"></span></p>
            <p>Correo: <span th:text="${userObject3.email}"></span></p>
        </div>

        <div th:if="${userObject != null}">
            <h2>Usuario 1:</h2>
            <p>Nombre: <span th:text="${userObject.name}"></span></p>
            <p>Correo: <span th:text="${userObject.email}"></span></p>
        </div>

        <div th:if="${userObject2 != null}">
            <h2>Usuario 2:</h2>
            <p>Nombre: <span th:text="${userObject2.name}"></span></p>
            <p>Correo: <span th:text="${userObject2.email}"></span></p>
        </div>
    </body>
</html>